@charset "utf-8";


/* Reset */
* { margin: 0; padding: 0; }
li { list-style: none; }
ul,li { padding: 0; }




/* 프로젝트 리스트 */
.box2 { height: 500px; box-sizing: border-box; _border: 1px solid lime; }
.frame { width: 100%; height: 100%; overflow: hidden; }
.frame .lists { position: relative; height: 100%;  }
.frame .lists > li { position: absolute; top: 0; width: 100%; height: 100%; vertical-align: top; }

.list1 { left: 0; background-color:salmon; }
.list2 { left: 100%; background-color: khaki; }
.list3 { left: 200%; background-color: #88B2CC; }
.list4 { left: 300%; background-color: #658EA9; }