@charset "utf-8";


/* Reset */
* { margin: 0; padding: 0; }
li { list-style: none; }
ul,li { padding: 0; }




/* 프로젝트 리스트 */
.container { position: relative; }
.box1 { position: relative; border: 2px solid gold; box-sizing: border-box; }

.slider { overflow: hidden; position: absolute; left: 10%; top: 15%; width: 80%; height: 200px; }
.slider-inner { position: absolute; left: 0; top: 0; display: grid; width: 200%; height: 100%; grid-template-columns: repeat(6, 1fr); gap: 5px; pointer-events: none; }
.slider-item { height: 100%; background-color: black; }

.box3 { border: 2px solid blue; box-sizing: border-box; }
.box2 { position: relative; box-sizing: border-box; _border: 3px solid red; }
.box2 .lists { opacity: 0; transition: all 400ms ease-in; }
.box2 .lists.on { display: block; opacity: 1; }
.lists { padding-top: 500px; overflow: hidden; position: relative; _position: absolute; _top: 50%; _transform: translateY(-50%); width: 100%; height: 100%; box-sizing: border-box; }
/* .lists > li { position: absolute; top: 0; width: 100%; height: 700px; vertical-align: top; } */
.lists > li { _display: none; opacity: 0; position: fixed; left: 0; top: -80%; width: 100%; height: 500px; _transform: translateY(-50%); transition: top 400ms ease-in-out, opacity 1200ms ease-in; }
.lists > li.on { _display: block; z-index: 50; opacity: 1; }

.list1 { background-color:salmon; }
.list2 { background-color: khaki; }
.list3 { background-color: #88B2CC; }
.list4 { background-color: #658EA9; }